{% include 'header.html' %}

{% for empleado in empleados %}

<form method="post" action="/update" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Modificar datos del usuario

        </div>    
        <div class="card-body">
            <h5 class="card-title">Datos del usuario:</h5>
            <p class="card-text">
                <div class="form-group col-md-4">
                    <label for="txtNombre">Codigo:</label>
                    <input class="form-control" type="text" value="{{ empleado[0] }}" name="txtID" id="txtID">
                </div>
                <div class="form-group col-md-4">
                    <label for="txtNombre">Nombre:</label>
                    <input class="form-control " type="text" value="{{ empleado[1] }}" name="txtNombre" id="txtNombre">
                </div>                
                <div class="form-group col-md-4">
                    <label for="txtCorreo">Correo:</label>
                    <input class="form-control" type="text" value="{{ empleado[2] }}"  name="txtCorreo" id="txtCorreo">
                </div>
                <div class="form-group col-md-4">
                <label for="txtTipoUsuario">Tipo de usuario:</label>
                <select class="form-control" type="text" name="txtTipoUsuario" id="txtTipoUsuario">
                        <option value="{{ empleado[3] }}">Administrador</option>
                        <option value="{{ empleado[3] }}">Comun</option>                       
                    </select>
                </div>
                    <!-- url_for es para acceder a un metodo -->
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Guardar">
                    <a href="{{url_for('empl')}}" class="btn btn-primary">Regresar</a>
                </div>
            </p>
          </div>    
</form>
    
{% endfor %}

{% include 'footer.html' %}
