{% include 'header.html' %}

<div class="x_panel">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, placeat accusantium est quia quasi nisi exercitationem
    alias ipsa consequatur voluptate repellendus labore molestiae reiciendis optio amet ex sunt corrupti unde.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, commodi eum! Libero quis ipsam veniam et assumenda,
    placeat dolorum unde sint voluptas sed, ad quasi! Et unde sunt deleniti perspiciatis.
</div>

{% include 'footer.html' %}