{% include 'header.html' %}


    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div><span>MI EMPRESA</span></div>
    </div>
    <br>
    <div class="login">
        <div>
            <input type="text" placeholder="usuario" name="username"><br>
        </div>
        <div>
            <input type="password" placeholder="contraseña" name="userpass"><br>
        </div>
        <label><input type="checkbox" id="cbox1" value="first_checkbox">  Mantener la sesión iniciada</label><br>
        <input type="button" value="Ingresar">
    </div>    
  </div>    

    {% include 'footer.html' %}